<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="/assets/logo-gray.png", alt="Hover logo">
  </div>
    <ul>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="/assets/facebook-logo-circle.png", alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="/assets/twitter-logo-circle.png", alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="/assets/youtube-logo-circle.png", alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>