<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="http://docs.usehover.com", class="logo">
      <img src="/assets/logo-light.png", alt="Hover logo"/>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="https://www.usehover.com/apps", target=blank>My dashboard</a></li>
      </ul>
    </nav>
  </div>
</header>
