.page-content {
    @include outer-container;

    .sidebar {
      @include  span-columns(3);
      padding: $base-spacing;
    }

    .main {
      @include span-columns(9);
      padding: $base-spacing;
    }

    .main-old {
      @include span-columns(9);
      @include shift(2);
      padding: $base-spacing;
    }

    ul {
      list-style-type: initial;
      padding: 0 $base-spacing;
      margin-bottom: $small-spacing;
    }

    table { 
      margin-bottom: $base-spacing;
    }

    td {
      padding: 0.5em 0;
    }
}