.page-content {
    .wrapper {
        @include outer-container;
        padding: $base-spacing;
    }

    ul {
      list-style-type: initial;
      padding: 0 $base-spacing;
      margin-bottom: $small-spacing;
    }

    table { 
      margin-bottom: $base-spacing;
    }

    td {
      padding: 0.5em 0;
    }
}